:root {
    --bg-color: hsl(49 37% 92%);
    --typewriterSpeed: 8s;
    --typewriterSpeed1: 2s;
    --typewriterSpeed2: 5s;
    --typewriterCharacters: 24;

    --typewriterLine1Char : 6;
    --typewriterLine2Char : 18;
  }
  
* {
box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: "Source Sans Pro", sans-serif;
}

.body {
min-height: 100vh;
background: var(--bg-color);
max-width: 600px;
margin: 20px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px
}


.card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background: white;
}


.header {
font-size: clamp(1rem, 3vw + 1rem, 4rem);
font-family: "Source Code Pro", monospace;
text-align: center;
position: relative;
margin-left: auto;
margin-right: auto;
margin-bottom: 0px;
max-width: max-content;
}

.header::before,
.header::after {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.header::before {
background: white;
animation: typewriter var(--typewriterSpeed1)
    steps(var(--typewriterLine1Char)) 1s forwards;

}

.header::after {
width: 0.125em;
background: black;
animation: typewriter var(--typewriterSpeed1)
    steps(var(--typewriterLine1Char)) 1s forwards,
    blink 750ms steps(var(--typewriterLine1Char)) 26.7 forwards,
    fadeOut 0.01s calc(var(--typewriterSpeed1) + 1s)  forwards;
    
}

.header1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    font-family: "Source Code Pro", monospace;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    max-width: max-content;
    
    }
    
.header1::before,
.header1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }

.header1::before {
    background: white;
    animation: typewriter var(--typewriterSpeed2)
        steps(var(--typewriterCharacters)) 3s forwards;

    }

.header1::after {
    width: 0.125em;
    background: black;
    opacity: 0;
    animation: typewriter var(--typewriterSpeed2)
        steps(var(--typewriterCharacters)) 3s forwards,
        blink 750ms steps(var(--typewriterCharacters)) 3s infinite,
        fadeIn 0.5s 3s forwards;
        
}

.subtitle {
color: hsl(0 0% 0% / 0.7);
font-size: 2rem;
font-weight: 400;
opacity: 0;
transform: translateY(3rem);
animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
to {
    left: 100%;
}
}

@keyframes blink {
to {
    background: transparent;
}
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    90%{
        opacity: 0.8;
    }
    100%{
       opacity: 1;
   }
}

@keyframes fadeInUp {
to {
    opacity: 1;
    transform: translateY(0);
}
}


.nav {
    text-align: center;
    background: rgb(109, 105, 105);
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.nav > a {
    margin: 20px;
    font-family: "Source Code Pro", Arial;
    font-weight: bold;
    text-decoration: none;
    
}

a:visited{
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
    background-color: red;
}