:root {
    --bg-color: hsl(49 37% 94%);
    --typewriterSpeed1: 2s;
    --typewriterSpeed2: 7s;
    --typewriterCharacters: 24;

    --typewriterLine1Char : 5;
    --typewriterLine2Char : 16;
  }
  
* {
box-sizing: border-box;
}

html{
    font-family: "Source Sans Pro", sans-serif;
}

.body {
margin: 10px;
min-height: 100vh;
background: var(--bg-color);
}



.header {
font-size: clamp(1rem, 3vw + 1rem, 4rem);
font-family: "Source Code Pro", monospace;
text-align: center;
position: relative;
margin-left: auto;
margin-right: auto;
margin-bottom: 0px;
max-width: max-content;

}

.header::before,
.header::after {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.header::before {
background: var(--bg-color);
animation: typewriter var(--typewriterSpeed1)
    steps(var(--typewriterLine1Char)) 1s forwards;

}

.header::after {
width: 0.125em;
background: black;
animation: typewriter var(--typewriterSpeed1)
    steps(var(--typewriterLine1Char)) 1s forwards,
    blink 750ms steps(var(--typewriterLine1Char)) 26.7 forwards,
    fadeOut var(--typewriterSpeed1) 2s forwards;
    
}

.header1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    font-family: "Source Code Pro", monospace;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    max-width: max-content;
    
    }
    
.header1::before,
.header1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }

.header1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed2)
        steps(var(--typewriterCharacters)) 3s forwards;

    }

.header1::after {
    width: 0.125em;
    background: black;
    opacity: 0;
    animation: typewriter var(--typewriterSpeed2)
        steps(var(--typewriterCharacters)) 3s forwards,
        blink 750ms steps(var(--typewriterCharacters)) 3s infinite,
        fadeIn 0.5s 3s forwards;
        
}

.subtitle {
color: hsl(0 0% 0% / 0.7);
font-size: 2rem;
font-weight: 400;
opacity: 0;
transform: translateY(3rem);
animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
to {
    left: 100%;
}
}

@keyframes blink {
to {
    background: transparent;
}
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    90%{
        opacity: 0.8;
    }
    100%{
       opacity: 1;
   }
}

@keyframes fadeInUp {
to {
    opacity: 1;
    transform: translateY(0);
}
}


