:root {
    --bg-color: hsl(49 37% 92%);
    --typewriterSpeed: 8s;
    --typewriterSpeed1: 2s;
    --typewriterSpeed2: 5s;
    --typewriterCharacters: 24;

    --typewriterLine1Char : 6;
    --typewriterLine2Char : 18;
  }
  
*,*::after,*::before {
box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: "Source Code Pro", monospace;
}
.header {
    color: white;
    display: flex;
    justify-content: center;
}
.typewriter h1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
font-family: "Source Sans Pro", sans-serif;
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em solid orange; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
letter-spacing: .15em; /* Adjust as needed */
animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@media screen and (max-width: 840px){
    .typewriter h1 {
        white-space: pre-line;
        animation: none;
        border: none;
        text-align: center;
    }
}


/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange; }
}

.subtitle {
color: hsl(0 0% 0% / 0.7);
font-size: 1rem;
font-weight: 400;
}


.background{
    background: linear-gradient(180deg, #121010 26.04%, rgba(18, 16, 16,0.989426) 40.12%, rgba(18, 16, 16, 0.57) 89.58%), 
                url(assets/physics-equations-on-chalkboard.jpg);
    
                max-width: 100%;
    height: 100vh;
    margin: 0px   
}

.about {
    position: relative;
    background: #F0F0F0;
    max-width: 100%;
    height: fit-content;
    margin: 0px;

}

.about-desc{
    position: relative;
    font-family: "Source Code Pro", monospace;
    text-align: center;
    font-size: 32px;
    padding-top: 5vh;
    padding-bottom: 15vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.section-title{
    font-size: 48px;
    font-family: "Source Code Pro", monospace;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    padding-top: 15vh;

}

.blog {
    position: relative;
    background: #121010;
    max-width: 100%;
    height: fit-content;
}


.nav-pills .nav-link.active,.nav-pills .show>.nav-link{color:#000000;background-color:#ffffff}
.nav-link{
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 840px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card1{
        margin-left: auto;
        margin-right: auto;
    }
  }

.card1 {
    background: white;
    max-width: 30ch;
    border-radius: 20px;
    margin: 10px;
  }
  
.card1-img {
    display: inline-block;
    padding: 10rem 0rem 0rem;
    border-radius: 20px;
    background-size: cover;
    overflow: hidden;
    margin: 1rem;
}
  
.card1_content {
    padding: 0rem 1rem;
    background: black;
    opacity: 0.85;
    border-radius: 20px;
    text-align: center;
    position: relative;
    bottom: -1rem;
    transform: translatey(70%);
    transition: transform 500ms ease;
    cursor: pointer;
}

.card1_title { 
    color: white;
    padding: 0;
    margin: 0;
}

.card1_body {
    color: white;
    padding: 0.5rem 0rem 2rem 0rem;
}

.card1:hover .card1_content {
    transform: translatex(0%);
} 